* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    margin: 0;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 4;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0.67em;
}

main {
    margin: 50px;
}

.books-section {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.add-book-btn {
    font-size: 1.25rem;
    padding: 10px 30px;
}

.add-book-btn:hover {
    cursor: pointer;
}

.add-book-form,
.delete-book-form {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
    width: 500px;
    height: 500px;
    background-color: lightgrey;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
    z-index: 5;
}

.delete-book-form {
    width: 150px;
    height: 75px;
    left: calc(50% - 120px);
    top: calc(50% - 87.5px);
}

.delete-btns-container {
    display: flex;
    justify-content: space-between;
}

.delete-btns-container > button {
    width: 40%;
    font-size: 1.5rem;
}

.close-form-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 1.5rem;
}

.close-form-btn:hover,
.delete-book-btn:hover,
.delete-btns-container > button:hover {
    cursor: pointer;
}

.delete-book-btn {
    color: red;
    background: none;
    border: none;
    position: absolute;
    font-size: 1.3rem;
    top: 5px;
    right: 5px;

}

.form-header {
    margin: 0;
    text-align: center;
}

.add-book-form label {
    font-size: 1.5rem;
}

.add-book-form input[type="text"],
.add-book-form input[type="number"] {
    padding: 10px 5px;
    font-size: 1.15rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.field input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.field input[type="checkbox"]:hover {
    cursor: pointer;
}

.confirm-btn {
    align-self: center;
    padding: 5px 20px;
    font-size: 1.25rem;
}

.confirm-btn:hover {
    cursor: pointer;
}

.books-section-title {
    font-size: 2.5rem;
    margin: 0;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 50px;
}

.book-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    background: linear-gradient(to right, rgb(76, 184, 96), rgb(60, 211, 173));
}

.book-container > h2 {
    text-align: center;
}

.book-container > h3 {
    font-size: 1rem;
}

.book-container > p {
    font-size: 1.25rem;
}